<!DOCTYPE html>
<html>
<head>
    <title>ホームページ</title>
</head>
<body>
    <h1>ようこそ！</h1>
    <nav>
        <ul>
            <li><a href="{% url 'polls:index' %}">アンケート</a></li>
            <li><a href="{% url 'contest:index' %}">アイデアコンテスト</a></li>
            {% if user.is_authenticated %}
                <li>こんにちは、{{ user.username }}さん</li>
            {% else %}
                <li><a href="{% url 'entrance:signup' %}">新規登録</a></li>
                <li><a href="{% url 'entrance:login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html> 